@import url('./noto-sans.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: OpenMoji;
  font-style: oblique;
  src: url('/OpemMoji-Black.ttf');
}

@font-face {
  font-family: OpenMoji;
  font-style: normal;
  src: url('/OpemMoji-Color.ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.om {
  font-family: OpemMoji;
}

.om-black {
  font-family: OpemMoji;
  font-style: oblique;
}

body {
  background-color: #f3f4f6;
  overflow: hidden;
  font-family: Noto Sans;
  font-weight: 400;
}

body.dark {
  background-color: #111827;
}